*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sofia", sans-serif;
}
.full-height{
    height: 100vh;
}
.main-row {
    flex-grow: 1;
    overflow: auto;
}
.borderd-box{
    height: auto;
    width: 100%;
    border: 1px solid #A0C878;
}
.horizontal-border {
  border-collapse: collapse;
  width: 100%;
}

.horizontal-border th,
.horizontal-border td {
  border-top: 1px solid #ccc; 
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
  padding: 8px;
}

.horizontal-border thead tr:first-child th {
  border-top: none; 
}

.userPic{
    height: 12rem;
    width: 12rem;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url('userImage.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.navBtn:hover{
  transition: 1.5ms ease-in-out;
  transform: scale(1.1);
  border: 1px solid rgb(39, 91, 236);
}