*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sofia", sans-serif;
}
.acc{
    font-weight: 800;
    transform: scale(1.2);
}
.navbar-custom {
      background-color: #1c1f26;
    }
    .nav-link {
      color: #ffffff;
      transition: color 0.2s ease;
    }
    .nav-link:hover {
      color: #3dd5a8;
    }
    .content-card {
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    }
    .logo-img {
  height: 40px;
  width: auto;
}